/* Базовые стили и сброс */
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--font-main);
    background-color: var(--color-white);
    overflow-x: hidden;
    position: relative;
}

* {
    box-sizing: border-box;
}
