.discount {
    position: relative;
    padding: 70px 0;
    background-color: #ffffff;
    overflow: hidden;
}

.discount__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../public/hero-bg.webp');
    opacity: 30%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
}

.discount__container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    z-index: 2;
}

.discount__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: start;
}

.discount__left {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.discount__title {
    margin: 0;
    color: #36507E;
    font-size: 33px;
    font-weight: 800;
    line-height: 1.2;
}

.discount__timer-block {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.discount__timer-text {
    margin: 0;
    color: #cb1a1a;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4;
    white-space: nowrap;
}

.discount__timer {
    color: #cb1a1a;
    font-size: 28px;
    font-weight: 900;
    line-height: 1.4;
}

.discount__right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
}

.discount__form {
    display: flex;
    gap: 10px;
    align-items: center;
}

